
.choosediv{
    width: 70%;
    margin: auto;
    margin-top: 10%;
    border-bottom: 0px solid #fff;

}
.topic{
    text-align: center;
    font-size: 22px;
    margin-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.subtitle{
    font-size: 20px;
}
.vr1{
    border-bottom: 4px solid #00D4FF;
    opacity: 0.5;
    /* margin-top: 20%; */
    width:10%;
    margin: auto;
}