.contact{
    width: 50%;
    margin: auto;
    padding-top: 3%;
}

.sendMessage{
    background-color: #005987;
    color: #fff;
    border-radius: 4px;
    height: 35px;
    border: none;
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
    padding: 8px;
}
.vr3{
    border-bottom: 4px solid #005987;
    opacity: 0.5;
    /* margin-top: 20%; */
    width:10%;
    margin: auto;
}