body{
    margin: 0px;
    width: 100%;
    padding: 0;
}
.header{
    height: 200%;
    padding-top: 1%;
    width: 100%;
 }
.navLink{
    color: #000 !important;
}
.navLink:hover{
    color: #005987 !important;
}
.logoText{
    font-size: 26px;
    float: right;
    font-family: sans-serif;
    letter-spacing: 1.5px;
    margin-top: 10%;
    color: #005987;
    line-height: 2px;
}
.logoText:hover{
    color: #ccc!important;
}

.centersection{
    width: 100%;
}
.centerDiv{
    width: 70%;
    margin-top: 23%;
    margin-left: 20%;
    color: #fff;
  
}
.centerDiv h1{
    color: #005987;
    font-size: 25px;
}

.svgImage{
    margin-top: 14%;
    margin-left: 15%;
  
}
.aboutText{
    font-size: 14px;   
    color: #000;
}
.checklist{
    font-size:12px;
}
.check{
    color: #000;
   
}
.rate{
    color: orange;
}
.common-btn{
    background-color: #005987;
    color: #fff;
    border-radius: 4px;
    height: 35px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    padding: 4px;
    margin-top: 15px;
}


.hirebtn{
    background-color:transparent;
    color: #005987;
    border-radius: 4px;
    border: 1px solid #005987;
    height: 35px;
    width: 120%;
    margin-top: 7px;
    text-align: center;

}
.hirebtn:hover{
    background-color: #005987;
    color: #fff!important;
    border-radius: 4px;
    height: 35px;
    border: none;
    text-align: center;

}
.vertical {
    border-left: 2px solid grey;
    height: 200px;
    margin-top: 10px;
    margin-left: 10px;
}
.vertical2 {
    border-left: 2px solid grey;
    height: 200px;
    position:absolute;
    margin-top: 10px;
    margin-left: 10px;
}
.fixedTextRight{
    float: right;
    color: #fff;
    position: fixed;
    right: 15px;
    margin-top: -25%;

}
.fixedText{
    position: fixed;
    left: 3%;
    margin-top: -25%;
    font-size: 10px;

}
.profileText{
    text-orientation:  sideways-right;;
    writing-mode: vertical-rl;
    color: #000;
    font-size: 15px;
    margin-top: -10px;
    letter-spacing: 2px;
    font-style: normal;
     font-family:Georgia, 'Times New Roman', Times, serif
}

.hire{
    position: absolute;
    margin-top: 2%;
   margin-left: 4%;
   width: 100%;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;

}
.hire1{
    position: absolute;
    margin-top: 5%;
   margin-left: 15%;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: #005987;
}
.contactSVG{
    margin-top: 3em;
    width: 80%;
}


.bottomSection {
  position: absolute;
  bottom: 2px;
  right: 30%;
  width: 18rem;
  border-radius: 8px;
  background-color: #005987;
  color: #fff;
  padding: 15px;
}
.quoteIcon{
  color: orange;
  font-size: 80px;
  margin-top: -35px;
  margin-left: -70px;
}
.quote{
  font-size: 12px;
  letter-spacing:0.2px;
  margin-top: -50px;
}
.author{
  font-size:12px;
  color: #ccc;
  margin-top: -10px;
}
.role{
  font-size:12px;
  color: #ccc;
  margin-top: -10px;
}
.navcounter{
    color: #005987;
}
